/* Working from 03_animations/01_css */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#target-node{
	position: relative;
	width: 600px;
	height: 600px;
}

.cdbr-table-row{
}


/* .cdbr-table-row.cdbr-row-0{
	transform: translateY(58px);
}

.cdbr-table-row.cdbr-row-1{
	transform: translateY(calc(58px*2));
}

.cdbr-row-2{
	transform: translateY(calc(58px*3));
}

.cdbr-row-3{
	transform: translateY(calc(58px*4));
}

.cdbr-row-4{
	transform: translateY(calc(58px*5));
}

.cdbr-row-5{
	transform: translateY(calc(58px*6));
}

.cdbr-row-6{
	transform: translateY(calc(58px*7));
}

.cdbr-row-7{
	transform: translateY(calc(58px*8));
}

.cdbr-row-8{
	transform: translateY(calc(58px*9));
}

.cdbr-row-9{
	transform: translateY(calc(58px*10));
}

.cdbr-row-10{
	transform: translateY(calc(58px*11));
} */
